<!-- templates/registration/login.html -->
{% extends 'base.html' %}

{% block title %}
Change Password | Online Retail POS
{% endblock %}

{% block nav-item %}
<div class="mb-0 font-weight-bold  h5 text-gray-900 text-uppercase p-3 ">Change Password Page</div>
{% endblock %}

{% block content %}
<div class="row-fluid card o-hidden border-4 shadow-sm my-5">
   <div class="card-header">
        <div class="text-center p-2">
            <h1 class="h4 text-gray-900 mb-1">Update Password!</h1>
        </div>
    </div>
    <div class="row card-body p-0">
        <!-- Nested Row within Card Body -->
       <div class="col-lg-12 p-5 center" >
            <form  method="post" style="padding: 20px;">
                {% csrf_token %}
                <div class="p-3 mb-1 text-gray-900 ">
                {{ form.as_p }}
                </div>
                <hr>
                <button type="Submit" class="btn btn-primary btn-user btn-block"> Change Password </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}